<% if (errors) {%>
  <% errors.forEach(function (error) { %>
    <%= __(error) %>
  <% }) %>
<% } %>
<div class="row">
  <form role="form" action="/auth/local" method="post">


      <div class="large-12 columns">
        <label>Identifiant :
          <input type="text" name="identifier" placeholder="Username or Email">
        </label>
      </div>

      <div class="large-12 columns">
        <label>Mot de passe :
          <input type="password" name="password" placeholder="Password">
        </label>
      </div>
      
      <div class="large-12 columns">
        <button  class="button" type="submit">Sign in</button>
      </div>

  </form>
</div>

