@import "settings";
@import "foundation";


.contribution-panel {
    @include panel(
    // Sets the panel background color. Default: $panel-pg
    $bg:white,
    // Sets the panel padding amount. Default: $panel-padding
    $padding:0px,
    // Sets the font color based on the darkness of the bg & resets header line-heights for panels. Default: $panel-header-adjust
    $adjust:true,

    $border:false
  );
}

.avatar-panel {
    @include panel(
    // Sets the panel background color. Default: $panel-pg
    $bg:white,
    // Sets the panel padding amount. Default: $panel-padding
    $padding:0px,
    // Sets the font color based on the darkness of the bg & resets header line-heights for panels. Default: $panel-header-adjust
    $adjust:true,

    $border:false
  );
}

.sm iframe{
    height: auto;
}

.topbar{
    padding-top: 5px;
    paddin : 5px;
}
.topbar .button.fullWhite{
    margin-bottom: 0px;
    font-weight: bold;
    color:white;

}

.bg_blue{
    background-color: #1B9DD3;
}

.fullWidth {
    display: inline-block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
}