<script>

	var init = function(){

		io.socket.on("connect", function(){
		  Backbone.Model.prototype.toJSON = function() {
		    return JSON.parse(JSON.stringify(this.attributes));
		  };


		  var json = <%- json %>;

		  global.init(json, function(){
		    // Modules à lancer

		    /*activat of "hashchange events's monitoring"*/
		    if(!Backbone.History.started) Backbone.history.start();
		    console.log("Backbone application started...")  
		  });


		}) ;


	};

	var readyStateCheckInterval = setInterval(function() {
	    if (document.readyState === "complete") {
	        clearInterval(readyStateCheckInterval);
	        init();
	    }
	}, 10);

</script>

<div class="row">
	<div class="large-3 columns">aa</div>
	<div class="large-9 columns">bb</div>
</div>
	