<script>

	var init = function(){

		io.socket.on("connect", function(){
		  Backbone.Model.prototype.toJSON = function() {
		    return JSON.parse(JSON.stringify(this.attributes));
		  };

		  var json = <%- json %>;

			// Bases de test

			  var users = new global.Collections.User({
				username      : "WhatElse",
				first_name    : "Georges",
				last_name     : "Clooney",
				avatar        : "images/default_profile.png",
				email         : "toto@tutu.com"
			  });
            var user = new global.Models.User({
                username      : "WhatElse",
                first_name    : "Georges",
                last_name     : "Clooney",
                avatar        : "images/default_profile.png",
                email         : "toto@tutu.com"
            });
                var contributions = new global.Collections.Contribution({
                    project      : "model projet",
                    phase        : "model phase",
                    user         : user,
                    title        : "LE TITRE",
                    content      : "Le contenu",
                    attachment   : "Les attachments"
                });

			global.init(json, function(){

		    // Modules à lancer
				avatar.init({
				    el: "#avatar_container",
				    currentUser: users.first()
				});
				contribution.init({
                    el: "#contribution_container",
					contributions : contributions
			  	});

		    /*activat of "hashchange events's monitoring"*/
		    if(!Backbone.History.started) Backbone.history.start();
		    console.log("Backbone application started...")
		  });


		}) ;


	};

	var readyStateCheckInterval = setInterval(function() {
	    if (document.readyState === "complete") {
	        clearInterval(readyStateCheckInterval);
	        init();
	    }
	}, 10);

</script>

	<div class="large-3 medium-4 small-12 columns" id="left_panel">
		<div class="large-12 medium-12 small-12 columns" id="avatar_container"></div>
		<div class="large-12 medium-12 small-12 columns" id="contribution_container"></div>
	</div>

	<div class="large-9 medium-8 small-12 columns" id="right_panel">bb</div>
