{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.ng.bluemix.net",
      "Org": "barthelemy.jamois_org",
      "Space": "Dev"
    },
    "Name": "platformcreaktive",
    "Instrumentation": {
      "domain": "mybluemix.net",
      "services": [
        "MongoLab-25"
      ]
    }
  },
  "Path": "manifest.yml",
  "Type": "Cloud Foundry"
}