<div>
  <div class="large-12 medium-12 small-12 columns">
    <h4>{{- contribution.title }}</h4>

    <div class="large-11 medium-11 small-11 columns row">
      <blockquote>{{- contribution.content }}</blockquote>
      <div class="right">
        <small><em>Créée le {{- contribution.createdAt}} par {{- contribution.user.username}}</em></small>
      </div>
      <div class="left">
        <small><em>{{- contribution.likes}} likes </em></small><a href="#" data-likes-contribution="{{- contribution.likes }}" class="button radius tiny addLike">Like!</a>
      </div>
    </div>
    <div class="large-1 medium-1 small-1 columns"><img src="{{- contribution.user.avatar}}"/></div>
  </div>

  <div class="row collapse">
    <div class="large-2 medium-2 small-2 columns"></div>
    <div class="right large-2 medium-2 small-2 columns">
      <a href="#" data-id-contribution="{{- contribution.id }}" class="button tiny addSon">Rep!</a>
    </div>
    <div class="large-8 medium-8 small-8 columns">
      <input id="{{- contribution.id}}" type="text" placeholder="...répondre...">
    </div>
  </div>
  <br>

  {{ _.each(sons, function(son){ }}

  <div>
    <div class = "row">
      <div class="large-2 medium-2 small-2 columns "></div>
      <div class="large-10 medium-10 small-10 columns right">
        <div class="large-11 medium-10 small-9 columns row"><p>{{- son.content }}</p>
          <div class="right">
            <small><em>Posté le {{- son.createdAt}} par {{- son.user.username}} </em></small>
          </div>
        </div>
        <div class="large-1 medium-2 small-3 columns"><img src="{{- son.user.avatar}}"/></div>
      </div>
    </div>
  </div>
  <br>

  {{ }) }}

</div>
