

    <div class="large-12 medium-12 small-12 columns panel row">
        <ul class="pricing-table">
            <li class="title">{{-contribution.project}}</li>
            <li class="bullet-item">{{-contribution.phase}}</li>
            <li class="bullet-item">

                {{-contribution.user}}

            </li>

            <li class="description">{{-contribution.title}}</li>
            <li class="description">{{-contribution.content}}</li>
            <li class="description">{{-contribution.attachment}}</li>
        </ul>
    </div>
