

    <div class="large-12 medium-12 small-12 columns">
      <p>Dernières contribution</p>
        <ul class="pricing-table">
            <li class="title">{{-contribution.project.title}}</li>
            <li class="bullet-item">{{-contribution.phase.title}}</li>
            <li class="bullet-item">
              {{- contribution.user.username }}
            </li>
            <li class="description">{{-contribution.title}}</li>
            <li class="description">{{-contribution.content}}</li>
            <li class="description">{{-contribution.attachment}}</li>
        </ul>
    </div>
