<fieldset>
<form method="post">
<div>
        <label>Titre :</label>
        <input type="text" id="titre" placeholder="..."/>
    </div>
   
    <div>
        <label >Description :</label>
        <textarea id="description" placeholder="..."></textarea>
    </div>
</form>
<input type="file" id="myFile" multiple size="50">

<p>&#x00394; C</p>
<div class="large-6">
<div class="row">
         <div class="small-10 medium-11 columns">
        <div class="range-slider" data-slider="3" data-options="display_selector: #sliderOutput5; start: 1; end: 3;">
          <span class="range-slider-handle" role="slider" tabindex="0" aria-valuemin="1" aria-valuemax="10" aria-valuenow="3" style="transform: translateX(127.666666666667px);"></span>
          <span class="range-slider-active-segment" style="width: 33.3333333333333%;"></span>
        </div>
      </div>
      <div class="small-2 medium-1 columns">
        <span id="sliderOutput5" style="display: block;margin-top: 17px;">3</span>
      </div>
    </div>
<p>&#x00394; K</p>
<div class="row">
      <div class="small-10 medium-11 columns">
        <div class="range-slider" data-slider="3" data-options="display_selector: #sliderOutput1; start: 1; end: 3;">
          <span class="range-slider-handle" role="slider" tabindex="0" aria-valuemin="1" aria-valuemax="10" aria-valuenow="3" style="transform: translateX(127.666666666667px);"></span>
          <span class="range-slider-active-segment" style="width: 33.3333333333333%;"></span>
        </div>
      </div>
      <div class="small-2 medium-1 columns">
        <span id="sliderOutput1" style="display: block;margin-top: 17px;">3</span>
      </div>
</div>
</fieldset>
<fieldset>
  <legend>BPCO</legend>


{{ for ( var i = 0 ; i < question.length; i++){  }} 
    <p>{{= question[i] }} </p>
    <div class="row">
  <div class="large-12 columns">
    <div class="row collapse">
      <div class="small-10 columns">
        <input id="contributionTextField{{-i}}" type="text" placeholder="...">
      </div>
      
    </div>
  </div>
</div>
{{ } }}
<button id="validForm" class="button round" >Valider</button>
</fieldset>
