
  <div style="border:1px solid gray;" class="large-3 columns "><h2><center> U / V</center></H2>
<hr>
{{ _.each(uv, function(u){ }}
{{= u.content}}
</br>
{{ }) }}
    <hr>
  <div class="row">
  <div class="large-12 columns">
    <div class="row collapse">
      <div class="small-10 columns">
        <input id="contributionTextFielddim_usg_val" type="text" placeholder="...">
      </div>
      <div class="small-2 columns">
        <a class="button postfix answer" data-question-tag="dim_usg_val">+</a>
      </div>
    </div>
  </div>

</div>

  </div>

<div class="large-12 ">
  <div style="border:1px solid gray;" class="large-3 columns "><h2><center> Business</center></H2>
<hr>
{{ _.each(business, function(busi){ }}
{{= busi.content}}
</br>
{{ }) }}
<hr>
  <div class="row">
  <div class="large-12 columns">
    <div class="row collapse">
      <div class="small-10 columns">
        <input id="contributionTextFielddim_bsn" type="text" placeholder="...">
      </div>
      <div class="small-2 columns">
        <a class="button postfix answer" data-question-tag="dim_bsn">+</a>
      </div>
    </div>
  </div>
</div>

  </div>


  <div style="border:1px solid gray;" class="large-3 columns "><h2><center> Dimension fonctionnelle </center></H2>
<hr>
{{ _.each(uk, function(k){ }}
{{= k.content}}
</br>
{{ }) }}
<hr>
  <div class="row">
  <div class="large-12 columns">
    <div class="row collapse">
      <div class="small-10 columns">
        <input id="contributionTextFielddim_fct" type="text" placeholder="...">
      </div>
      <div class="small-2 columns">
        <a class="button postfix answer" data-question-tag="dim_fct">+</a>
      </div>
    </div>
  </div>
</div>

  </div>
  <div style="border:1px solid gray;" class="large-3 columns "><h2><center> Dimension technique</center></H2>

    <hr>
{{ _.each(tk, function(t){ }}
{{= t.content}}
</br>
{{ }) }}
<hr>

  <div class="row">
  <div class="large-12 columns">
    <div class="row collapse">
      <div class="small-10 columns">
        <input id="contributionTextFielddim_tech" type="text" placeholder="...">
      </div>
      <div class="small-2 columns">
        <a class="button postfix answer" data-question-tag="dim_tech">+</a>
      </div>
    </div>
  </div>
</div>

  </div>
</div>

