
  <div style="border:1px solid gray;" class="large-3 columns "><h2><center> U / V</center></H2>
<hr>
{{ _.each(uv, function(u){ }}
{{= u.content}}
</br>
{{ }) }}
    <hr>
  <div class="row">
  <div class="large-12 columns">
    <div class="row collapse">
      <div class="small-10 columns">
        <input id="contributionTextFieldUV" type="text" placeholder="...">
      </div>
      <div class="small-2 columns">
        <a class="button postfix answer" data-question-tag="UV">+</a>
      </div>
    </div>
  </div>

</div>

  </div>

<div class="large-12 ">
  <div style="border:1px solid gray;" class="large-3 columns "><h2><center> Business</center></H2>
<hr>
{{ _.each(business, function(busi){ }}
{{= busi.content}}
</br>
{{ }) }}
<hr>
  <div class="row">
  <div class="large-12 columns">
    <div class="row collapse">
      <div class="small-10 columns">
        <input id="contributionTextFieldBusiness" type="text" placeholder="...">
      </div>
      <div class="small-2 columns">
        <a class="button postfix answer" data-question-tag="Business">+</a>
      </div>
    </div>
  </div>
</div>

  </div>


  <div style="border:1px solid gray;" class="large-3 columns "><h2><center> Title colonne </center></H2>
<hr>
{{ _.each(uk, function(k){ }}
{{= k.content}}
</br>
{{ }) }}
<hr>
  <div class="row">
  <div class="large-12 columns">
    <div class="row collapse">
      <div class="small-10 columns">
        <input id="contributionTextFieldUK" type="text" placeholder="...">
      </div>
      <div class="small-2 columns">
        <a class="button postfix answer" data-question-tag="UK">+</a>
      </div>
    </div>
  </div>
</div>

  </div>
  <div style="border:1px solid gray;" class="large-3 columns "><h2><center> Title colonne</center></H2>

    <hr>
{{ _.each(tk, function(t){ }}
{{= t.content}}
</br>
{{ }) }}
<hr>

  <div class="row">
  <div class="large-12 columns">
    <div class="row collapse">
      <div class="small-10 columns">
        <input id="contributionTextFieldTK" type="text" placeholder="...">
      </div>
      <div class="small-2 columns">
        <a class="button postfix answer" data-question-tag="TK">+</a>
      </div>
    </div>
  </div>
</div>

  </div>
</div>

