<div>
  <form data-abide="">
    <fieldset>
      <legend>Votre profile</legend>
      <div class="row">

        <div class="large-2 medium-2 small-2 columns">
          <br>
          <img class="th" src={{-user.avatar}}>
          <a href="#" class="button tiny radius changeAvatar">Change</a>
        </div>

        <div class="large-10 medium-10 small-10 columns">

          <div class="large-10 medium-10 small-10 columns">
            <label>Username</label>
            <input id="usernameField" type="text" placeholder="{{-user.username}}">
          </div>
          <div class="large-2 medium-2 small-2 columns">
            <label>.</label>
            <a href="#" class="button tiny radius changeUsername">Change</a>
          </div>

          <div class="large-10 medium-10 small-10 columns">
            <label>Prénom</label>
            <input id="firstNameField" type="text" placeholder="{{-user.first_name}}">
          </div>
          <div class="large-2 medium-2 small-2 columns">
            <label>.</label>
            <a href="#" class="button tiny radius changeFirstName">Change</a>
          </div>

          <div class="large-10 medium-10 small-10 columns">
            <label>Nom</label>
            <input id="lastNameField" type="text" placeholder="{{-user.last_name}}">
          </div>
          <div class="large-2 medium-2 small-2 columns">
            <label>.</label>
            <a href="#" class="button tiny radius changeLastName">Change</a>
          </div>

          <div class="large-10 medium-10 small-10 columns">
            <label>E-mail</label>
            <input id="emailField" type="text" placeholder="{{-user.email}}">
          </div>
          <div class="large-2 medium-2 small-2 columns">
            <label>.</label>
            <a href="#" class="button tiny radius changeEmail">Change</a>
          </div>

        </div>




      </div>
    </fieldset>
  </form>
</div>
<br>
