
	<div class="custom-panel-header">
		Phase de cadrage
	</div>

	<div class="large-12 columns phase_title">
		<h1> {{- phase.title }}</div>

		<p>{{- phase.content }}</p>
	</div>

	<div class="large-12 columns phase_org">
		<fieldset>
			<legend>Groupes participants</legend>
			<a href="" class="button tiny" data-reveal-id="add_org_modal">+</a>
			<ul>
				{{ _.each(phase.organizations, function(org) { }}
					<li> {{- org.title }}</li>
				{{ }) }}
			</ul>
		</fieldset>
	</div>


	<div class="large-12 columns phase_content">
		<fieldset>
			<legend>Résultats</legend>
		
		<div class="large-4 columns">
			<ul class="phase-content">
			  <li class="phase-content-title">Besoins</li>
	      		{{ _.each(contributions.need, function(cont){ }}
	      		<li class="phase-content-bullet-item"> {{- cont.title }}</li>
	      		{{ }) }}
			</ul>
		</div>
		<div class="large-4 columns">
			<ul class="phase-content">
			  <li class="phase-content-title">Elements perturbateurs</li>
	      		{{ _.each(contributions.need_less, function(cont){ }}
	      		<li class="phase-content-bullet-item"> {{- cont.title }}</li>
	      		{{ }) }}
			</ul>
		</div>
		<div class="large-4 columns">
			<ul class="phase-content">
			  <li class="phase-content-title">Cibles</li>
	      		{{ _.each(contributions.target, function(cont){ }}
	      		<li class="phase-content-bullet-item"> {{- cont.title }}</li>
	      		{{ }) }}
			</ul>
		</div>

		<div class="large-4 columns">
			<ul class="phase-content">
			  <li class="phase-content-title">Impacts</li>
	      		{{ _.each(contributions.impact_on, function(cont){ }}
	      		<li class="phase-content-bullet-item"> {{- cont.title }}</li>
	      		{{ }) }}
			</ul>
		</div>
		<div class="large-4 columns">
			<ul class="phase-content">
			  <li class="phase-content-title">Acteurs</li>
	      		{{ _.each(contributions.actor, function(cont){ }}
	      		<li class="phase-content-bullet-item"> {{- cont.title }}</li>
	      		{{ }) }}
			</ul>
		</div>
		<div class="large-4 columns">
			<ul class="phase-content">
			  <li class="phase-content-title">Implantations</li>
	      		{{ _.each(contributions.implantation, function(cont){ }}
	      		<li class="phase-content-bullet-item"> {{- cont.title }}</li>
	      		{{ }) }}
			</ul>
		</div>

		<a href="/#project/{{-project.id}}/{{-phase.id}}" class="custom-panel-button">Ouvrir>></a>
		</fieldset>
	</div>


	<div class="large-12 columns phase_outputs">
		<fieldset>
			<legend>Outputs</legend>
				{{ _.each(phase.outputs, function(output){ }}
				<div class="large-8 columns"><p>{{- output.title }}</p></div>
				<div class="large-4 columns"><a class="button tiny explore" data-output-id="{{- output.id }}">Explorer cet axe</a></div>
	      		{{ }) }}
  		</fieldset>
	</div>

	.
	

