<form data-abide>
		<fieldset>
    		<legend>Inputs</legend>

    		Ajouter des documents en input : 
			
			<div id="input_form" class="large-12 columns">
				<form action="/file/upload" enctype="multipart/form-data" method="post">
				    <div class="row">
					    <div class="large-12 columns">
					      <label>Titre <small>required</small>
					        <input type="text" id="title" name="title" placeholder="titre" />
					      </label>
					      <small class="error">Title is required</small>
					    </div>
	    			    <div class="large-12 columns">
					      <label>Description
					        <input type="text" id="content" name="content" placeholder="description" />
					      </label>
					    </div>
	    			    <div class="large-12 columns">
					      <label>Ajouter un fichier
					        <input type="file" id="attachment" name="attachment" />
					      </label>
					    </div>
	    			    <div class="large-12 columns">
					        <a class="button small add_input">Ajouter</a> 
					    </div>
				  	</div>
				    
				</form>
			</div>
			<hr>
			
			<div id="inputs_container" class="large-12 columns"></div>

			<div class="large-2 columns">
				<a class="button tiny new_phase_step2">Previous</a>
			</div>
			<div class="large-2 large-offset-8 columns">
				<a class="button tiny new_phase_complete">Complete</a>
			</div>
			

		</fieldset>

			

		

	</form>