<div class="row">
      <div class="large-12 medium-12 small-12 columns text-center">

        <div class="row">
          <div class="large-12 medium-12 small-12 columns text-center">
          
            <table class="large-12 medium-12 small_12 text-center tableWorkspace">
              <tr>
                <td width="50" class="text-center">
                  <div class="row">
                    <div class=" large-12 medium-12 action"> 
                      <div class="" style="margin-top:10px;">
                      	{{ if(project.status == 'public'){ }}
					    	<span class="label success">Public</span>
					    {{ }else if(project.status == 'exemple'){ }}
					    	<span class="label">Exemple</span>
					    {{ }else{ }}
					    	<span class="label alert">Private</span>
					    {{ } }}
                    </div>
                  </div>
                </td>

                <td width="100" class="text-center">
                  <img class="imgWorkspace max_img max_img-responsive" src="{{-project.author.avatar}}" alt=""/>
                </td>

                <td width="300" class="text-center">
                  <div>
                    <h5><strong>{{-project.title}}</strong></h5>
                  </div>
                </td>

                <td width="100" class="text-center">
                  <div class="mic-info">
                    <small>By: <a href="#">{{-project.author.name}}</a> {{-project.date}}</small>
                  </div>
                </td>

                <td width="50" class="text-center">
                	{{ if(news_nbr>0){ }}<a href="#" class="label tiny success round {{-pulse}}" title="new activities">{{-news_nbr}}</a>{{ } }}
                </td>

                <td width="200" class="text-center">
                	<a title="Graphical mode" class="button tiny radius" href="/bbmap?projectId={{- project.id }}">OPEN</a>
                </td>
              </tr>
            </table>

          </div>
        </div>
	    
	</div>