	<div class="custom-panel-header">
		Phase d'exloration de connaissances
	</div>
	<div class="large-12 columns phase_title">
		<h1> {{- phase.title }}</div>

		<p>{{- phase.content }}</p>
	</div>


	<div class="large-12 columns phase_org">
		<fieldset>
			<legend>Groupes participants</legend>
			<a href="" class="button tiny" data-reveal-id="add_org_modal">+</a>
			<ul>
				{{ _.each(phase.organizations, function(org) { }}
					<li> {{- org.title }}</li>
				{{ }) }}
			</ul>
		</fieldset>
	</div>

	<div class="large-12 columns phase_content">
		<fieldset>
			<legend>Résultats</legend>

		<div class="large-6 columns">
			<ul class="phase-content">
			  <li class="phase-content-title">Dimension Business</li>
	      		{{ _.each(contributions.dim_bsn, function(cont){ }}
	      		<li class="phase-content-bullet-item"> {{- cont.title }}</li>
	      		{{ }) }}
			</ul>
		</div>

				<div class="large-6 columns">
			<ul class="phase-content">
			  <li class="phase-content-title">Dimension Usage/Valeur</li>
	      		{{ _.each(contributions.dim_usg_val, function(cont){ }}
	      		<li class="phase-content-bullet-item"> {{- cont.title }}</li>
	      		{{ }) }}
			</ul>
		</div>

				<div class="large-6 columns">
			<ul class="phase-content">
			  <li class="phase-content-title">Dimension Fonctionnelle</li>
	      		{{ _.each(contributions.dim_fct, function(cont){ }}
	      		<li class="phase-content-bullet-item"> {{- cont.title }}</li>
	      		{{ }) }}
			</ul>
		</div>

				<div class="large-6 columns">
			<ul class="phase-content">
			  <li class="phase-content-title">Dimension Technique</li>
	      		{{ _.each(contributions.dim_tech, function(cont){ }}
	      		<li class="phase-content-bullet-item"> {{- cont.title }}</li>
	      		{{ }) }}
			</ul>
		</div>

			<a href="/#project/{{-project.id}}/{{-phase.id}}" class="custom-panl-button">Ouvrir >></a>

		</fieldset>
	</div>


	<div class="large-12 columns phase_outputs">
		<fieldset>
			<legend>Outputs</legend>
				{{ _.each(phase.outputs, function(output){ }}
				<div class="large-8 columns"><p>{{- output.title }}</p></div>
				<div class="large-4 columns"><a href="#" class="button tiny share" data-output-id="{{- output.id }}">Partager ces résultats</a></div>
	      		{{ }) }}
  		</fieldset>
	</div>
	
.