<div class="large-12 columns">
	<fieldset>
	<legend>Support</legend>
	    <div class="large-12 columns">
			<label>Sur quel plateforme souhaitez vous créer la phase ?</label>
			<input type="radio" name="platform" value="Plateforme CreaKtive" id="creaktive"><label for="creaktive">Plateforme CreaKtive</label>
			<input type="radio" name="platform" value="Yammer" id="yammer"><label for="yammer">Yammer</label>
			<input type="radio" name="platform" value="Twitter" id="twitter"><label for="twitter">Twitter</label>
			<input type="radio" name="platform" value="Facebook" id="facebook"><label for="facebook">Facebook</label>
	    </div>
	</fieldset>
</div>

<div class="large-12 columns">
	<fieldset>
	<legend>Participants</legend>
	    <div class="large-12 columns">

			<label>Sélectionnez les groupes participants</label>
			{{ _.each(organizations, function(org){ }}
			<input id="{{- org.id}}" type="checkbox"><label for="{{- org.id}}">{{- org.title }}</label>
			{{ }) }}

	    </div>
	</fieldset>
</div>


<div class="large-12 columns">
	<fieldset>
	<legend>Durée</legend>
	<div class="large-6 medium-6 small-6 columns">
		<label for="from">From</label>
		<input type="text" id="from" name="from">
	</div>
	<div class="large-6 medium-6 small-6 columns">
		<label for="to">to</label>
<input type="text" id="to" name="to">
	</div>


	</fieldset>
</div>

