<form>
		<fieldset>
    		<legend>Participants</legend>

			Ajoutez les groupes qui participeront à cette phase :
			<div class="large-12 columns">
			{{ _.each(organizations, function(org){  }}

					<div class="large-3 columns">
						<p>{{- org.title }}</p>
					</div>
					<div class="large-6 columns">
						<p>{{- org.description }}</p>
					</div>
					<div class="large-3 columns">
						<a class="button tiny alert add_organization" data-org-id="{{- org.id}}" id ="{{- org.id}}">Add</a>
					</div>

			{{ }) }}
			<div>

			<div class="large-2 columns">
				<a class="button tiny new_phase">Previous</a>
			</div>
			<div class="large-2 large-offset-8 columns">
				<a class="button tiny new_phase_step3">Next</a>
			</div>
			

		</fieldset>

			

		

	</form>