
	<div class="large-12 columns phase_title">
		<h1> {{- phase.title }}</div>

		<p>{{- phase.content }}</p>
	</div>


	<div class="large-12 columns phase_org">
		<fieldset>
			<legend>Groupes participants</legend>
			<a href="" class="button tiny" data-reveal-id="add_org_modal">+</a>
			<ul>
				{{ _.each(phase.organizations, function(org) { }}
					<li> {{- org.title }}</li>
				{{ }) }}
			</ul>
		</fieldset>
	</div>

	<div class="large-12 columns phase_content">
		<fieldset>
			<legend>Résultats</legend>
			<a href="/#project/{{-project.id}}/{{-phase.id}}" class="button expand">>></a>

			{{ _.each(contributions, function(contribution){ }}

			<div class="large-6 columns">
				<p>{{- contribution.title }} - {{- contribution.content}}
			</div>
			<div class="large-6 columns">
				<a class="button tiny converge" data-contribution-id="{{- contribution.id}}">Converge</a>
			</div>
			{{ }) }}
			
		</fieldset>
	</div>


<!-- 	<div class="large-12 columns phase_outputs">
		<fieldset>
			<legend>Outputs</legend>
				{{ _.each(phase.outputs, function(output){ }}
				<div class="large-8 columns"><p>{{- output.title }}</p></div>
				<div class="large-4 columns"><a href="#" class="button tiny share" data-output-id="{{- output.id }}">Partager ces résultats</a></div>
	      		{{ }) }}
  		</fieldset>
	</div> -->
	

