<form>
		<fieldset>
    		<legend>Définition de la phase</legend>
			
			<div class="row">
				<div class="large-12 columns">
					<label>Nom de la phase
						<input type="text" placeholder="..." id="newPhase_title"/>
					</label>
				</div>

				<div class="large-12 columns">
					<label>Contenu de la phase
						<input type="text" placeholder="..." id="newPhase_content"/>
					</label>
				</div>

				<div class="large-6 columns">
					<label>Phase :
						<select>
							<option value="cadrage">Cadrage du projet</option>
							<option value="exploration">Exploration de connaissances</option>
							<option value="partage">Partage de connaissances</option>
							<option value="cp">Générer des concepts projecteurs</option>
							<option value="divergence">Créativité - divergence</option>
							<option value="convergence">Créativité - convergence</option>
						</select>
					</label>
				</div>

			

				<div class="large-6 columns">
					<table class="table">
						<thead>
							<tr>
								<th>Début de la phase
									<input type="text" class="span2" value="" id="start_date">
								</th>
								<th>Fin de la phase
									<input type="text" class="span2" value="" id="end_date">
								</th>
							</tr>
						</thead>
					</table>
				</div>

		</div>

		<div class="large-2 columns">

		</div>
		<div class="large-2 large-offset-8 columns">
			<a class="button tiny new_phase_step2">Next</a>
		</div>
			

		</fieldset>

			

		

	</form>