	<ul class="pricing-table">
		<li class="title">Phase : {{- phase.type}}</li>
		<li class="price">{{- phase.title}}</li>
		<li class="description">Début : {{- phase.start}} ; fin : {{- phase.end}}</li>
		<li class="bullet-item">{{- phase.content}}</li>
		<li class="bullet-item">
		  	Inputs:
		  	<ul>
				{{ _.each(phase.organizations, function(org) { }}
					<li> {{- org.title }}</li>
				{{ }) }}
			</ul>
		</li>
		<li class="bullet-item">
				Outputs:
				<ul>
				{{ _.each(phase.outputs, function(output) { }}
				<li> {{- output.title }}</li>
				{{ }) }}
			</ul>
		</li>
		<li class="cta-button"><a href="/#project/{{-project.id}}/{{-phase.id}}" class="button expand">>></a></li>
	</ul>

	