
	<div class="large-12 columns phase_title">
		<h1> {{- phase.title }}</div>

		<p>{{- phase.content }}</p>
	</div>


	<div class="large-12 columns phase_org">
		<fieldset>
			<legend>Groupes participants</legend>
			<a href="" class="button tiny" data-reveal-id="add_org_modal">+</a>
			<ul>
				{{ _.each(phase.organizations, function(org) { }}
					<li> {{- org.title }}</li>
				{{ }) }}
			</ul>
		</fieldset>
	</div>

	<div class="large-12 columns phase_content">
		<fieldset>
			<legend>Résultats</legend>
			<a href="/#project/{{-project.id}}/{{-phase.id}}" class="button expand">>></a>
		      <p>Qu-est-ce qui vous a surpris dans cette présentation ?</p>
		      	<ul>
		      	{{ _.each(contributions.surprise, function(obj){ }}
					<li> {{- obj.content}}</li>
		      	{{ }) }}
		      </ul>
		      <p>Quelles sont les connaissances maîtrisées en interne sur lesquelles s'appuyer pour créer de nouveaux concepts ?</p>
		      	<ul>
		      	{{ _.each(contributions.k_known, function(obj){ }}
					<li> {{- obj.content}}</li>
		      	{{ }) }}
		      </ul>
		      <p>Quelles sont les connaissances à acquérir pour développer de nouveaux concepts"</p>
		      	<ul>
		      	{{ _.each(contributions.k_unknown, function(obj){ }}
					<li> {{- obj.content}}</li>
		      	{{ }) }}
		      </ul>
		      <p>Identifiez-vous des signaux faibles ?</p>
		      	<ul>
		      	{{ _.each(contributions.signal, function(obj){ }}
					<li> {{- obj.content}}</li>
		      	{{ }) }}
		      </ul>
		      <p>Cette présentation vous a-t-elle donné des premières idées ?</p>
		      	<ul>
		      	{{ _.each(contributions.idea, function(obj){ }}
					<li> {{- obj.content}}</li>
		      	{{ }) }}
		      </ul>
		</fieldset>
	</div>

	<div class="large-12 columns phase_output">
		<fieldset>
			<a class="button expand createbs">Démarrer un brainstorming</a>
		</fieldset>
	</div>


	

