



<div class="panel"><h1>{{- project.title }}</h1></div>

<ul class="tabs" data-tab>
  <li class="tab-title active"><a href="#dkcp_phases">Phases</a></li>
  <li class="tab-title"><a href="#dkcp_analyses">Analyses</a></li>
  <li class="tab-title"><a href="#dkcp_axes_travail">Axes de travail</a></li>
</ul>
<div class="tabs-content">
	
	<div class="content active" id="dkcp_phases">
		<div class="large-12">
			<a class="button new_phase expand" data-reveal-id="newPhase_modal" >Nouvelle phase</a>
		</div>
		<div id="phases_container" class="large-12 columns"></div>
	</div>

	<div class="content" id="dkcp_analyses">
		<div id="ck_evaluation_container"></div>
	</div>

	<div class="content" id="dkcp_axes_travail">
		<div id="ck_axes_travail_generation"></div>
	</div>

</div>