        <div class="small-12 large-2 medium-2 columns">
        	<a href="/" class="button tiny expand radius"><img title="new workspace" src="/images/icones/Home-24.png"></a>
        </div>
        <div class="small-12 large-2 medium-2 columns">
        	<a href="#" class="button tiny expand radius success" data-reveal-id="new_ws_modal_{{- display }}"><img title="new workspace" src="/images/icones/Add-New-24.png"></a>
        </div>
        <div class="small-12 large-8 medium-8 columns">
          <input type="text" class="search" placeholder="find workspaces by name..." />
        </div>