	<div class="custom-panel-header">
		Phase de partage de connaissances
	</div>
	<div class="large-12 columns phase_title">
		<h1> {{- phase.title }}</div>

		<p>{{- phase.content }}</p>
	</div>


	<div class="large-12 columns phase_org">
		<fieldset>
			<legend>Groupes participants</legend>
			<a href="" class="button tiny" data-reveal-id="add_org_modal">+</a>
			<ul>
				{{ _.each(phase.organizations, function(org) { }}
					<li> {{- org.title }}</li>
				{{ }) }}
			</ul>
		</fieldset>
	</div>

	<div class="large-12 columns phase_content">
		<fieldset>
			<legend>Résultats</legend>



			<div class="large-12 columns">
				<ul class="button-group">
				  <li><a  href="/#project/{{-project.id}}/{{-phase.id}}" class="button"><i class="fa fa-sign-in"></i> Ouvrir la phase</a></li>
				  <li><a class="button analyse" data-phase-id="{{- phase.id}}"><i class="fa fa-cogs"></i> Analyser</a></li>
				</ul>
				<div class="large-3 columns">
					<h4>Participation : </h4>
				</div>
				<div class="large-9 columns">
					<div class="progress">
					  <span class="meter" style="width: 60%"></span>
					</div>
				</div>
			</div>

		<div class="large-12 columns">
			<ul class="phase-content">
			  <li class="phase-content-title">Qu-est-ce qui vous a surpris dans cette présentation ?</li>
	      		{{ _.each(contributions.surprise, function(cont){ }}
	      		<li class="phase-content-bullet-item"> {{- cont.content }}</li>
	      		{{ }) }}
			</ul>
		</div>

				<div class="large-12 columns">
			<ul class="phase-content">
			  <li class="phase-content-title">Quelles sont les connaissances maîtrisées en interne sur lesquelles s'appuyer pour créer de nouveaux concepts ?</li>
	      		{{ _.each(contributions.k_known, function(cont){ }}
	      		<li class="phase-content-bullet-item"> {{- cont.content }}</li>
	      		{{ }) }}
			</ul>
		</div>

				<div class="large-12 columns">
			<ul class="phase-content">
			  <li class="phase-content-title">Quelles sont les connaissances à acquérir pour développer de nouveaux concepts ?</li>
	      		{{ _.each(contributions.k_unknown, function(cont){ }}
	      		<li class="phase-content-bullet-item"> {{- cont.content }}</li>
	      		{{ }) }}
			</ul>
		</div>

		<div class="large-12 columns">
			<ul class="phase-content">
			  <li class="phase-content-title">Identifiez-vous des signaux faibles ?</li>
	      		{{ _.each(contributions.signal, function(cont){ }}
	      		<li class="phase-content-bullet-item"> {{- cont.content }}</li>
	      		{{ }) }}
			</ul>
		</div>

		<div class="large-12 columns">
			<ul class="phase-content">
			  <li class="phase-content-title">Cette présentation vous a-t-elle donné des premières idées ?></li>
	      		{{ _.each(contributions.idea, function(cont){ }}
	      		<li class="phase-content-bullet-item"> {{- cont.content }}</li>
	      		{{ }) }}
			</ul>
		</div>



		</fieldset>
	</div>

	<div class="large-12 columns phase_output">
		<fieldset>
			<a class="button expand createbs">Démarrer un brainstorming</a>
		</fieldset>
	</div>


.

