
	<div class="large-12 columns phase_title">
		<h1> {{- phase.title }}</div>

		<p>{{- phase.content }}</p>
	</div>


	<div class="large-12 columns phase_org">
		<fieldset>
			<legend>Groupes participants</legend>
			<a href="" class="button tiny" data-reveal-id="add_org_modal">+</a>
			<ul>
				{{ _.each(phase.organizations, function(org) { }}
					<li> {{- org.title }}</li>
				{{ }) }}
			</ul>
		</fieldset>
	</div>


	<div class="large-12 columns phase_content">
		<fieldset>
			<legend>Résultats</legend>
		<a href="/#project/{{-project.id}}/{{-phase.id}}" class="button expand">>></a>
		<table>
		  <thead>
		    <tr>
		      <th width="200">Catégories</th>
		      <th>Résultats</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td>Besoin</td>
		      <td>
		      	<ul>
		      		{{ _.each(contributions.need, function(cont){ }}
		      		<li> {{- cont.title }}</li>
		      		{{ }) }}
	      		</ul>
		      </td>
		    </tr>
		    <tr>
		      <td>Elements perturbateurs</td>
		      <td>
	      		<ul>
		      		{{ _.each(contributions.need_less, function(cont){ }}
		      		<li> {{- cont.title }}</li>
		      		{{ }) }}
	      		</ul>
      			</td>
		    </tr>
		    <tr>
		      <td>Cibles</td>
		      <td>
		      	<ul>
		      		{{ _.each(contributions.target, function(cont){ }}
		      		<li> {{- cont.title }}</li>
		      		{{ }) }}
	      		</ul>
		      </td>
		    </tr>
		    <tr>
		      <td>Impacts</td>
		      <td>
		      	<ul>
		      		{{ _.each(contributions.impact_on, function(cont){ }}
		      		<li> {{- cont.title }}</li>
		      		{{ }) }}
	      		</ul>
		      </td>
		    </tr>
		    <tr>
		      <td>Acteurs</td>
		      <td>
		      	<ul>
		      		{{ _.each(contributions.actor, function(cont){ }}
		      		<li> {{- cont.title }}</li>
		      		{{ }) }}
	      		</ul>
		      </td>
		    </tr>
		    <tr>
		      <td>Implantations</td>
		      <td>
		      	<ul>
		      		{{ _.each(contributions.implantation, function(cont){ }}
		      		<li> {{- cont.title }}</li>
		      		{{ }) }}
	      		</ul>
		      </td>
		    </tr>
		  </tbody>
		</table>
		</fieldset>
	</div>


	<div class="large-12 columns phase_outputs">
		<fieldset>
			<legend>Outputs</legend>
				{{ _.each(phase.outputs, function(output){ }}
				<div class="large-8 columns"><p>{{- output.title }}</p></div>
				<div class="large-4 columns"><a href="#" class="button tiny explore" data-output-id="{{- output.id }}">Explorer cet axe</a></div>
	      		{{ }) }}
  		</fieldset>
	</div>
	

