	<div class="row">
  	  	<fieldset>
		    <legend>Créer un nouveau projet</legend>
		    <div class="alertBox large-12 columns">
		    </div>
		    <div class="large-12 columns">
		    	<label>Title
		        <input type="text" id="wks_title" placeholder="title..." />
		    	</label>
		    </div>
		    <div class="large-12 columns">
			    <label>Description
			    <textarea id="wks_description" placeholder="objectives, context..."></textarea>
				</label>
		    </div>
		    
		    <div class="large-12 columns">
		    	<a href="#" class="button success expand newProject">Create</a>
		    </div>
		</fieldset>
	</div>