<fieldset>
  <legend>Résumé</legend>


  <fieldset>
    <legend>Cadrage</legend>

    {{ _.each(cadrages, function(cadrage){  }}
    <div class="large-4 medium-4 small-4 columns left" >
      <b>{{- cadrage.title}}</b>
    </div>

    <div class="large-8 medium-8 small-8 columns right" >
      {{ _.each(cadrage.outputs, function(cadrage_output){  }}
        <blockquote>{{- cadrage_output.title}}</blockquote>
      {{ }); }}
    </div>
    <hr>
    {{ }); }}
  </fieldset>


  <fieldset>
    <legend>Exploration</legend>
    {{ _.each(explorations, function(exploration){  }}
    <div class="large-4 medium-4 small-4 columns left" >
      <b>{{- exploration.title}}</b>
    </div>
    <div class="large-8 medium-8 small-8 columns right" >
      {{ _.each(exploration.outputs, function(exploration_output){  }}
      <blockquote>{{- exploration_output.title}}</blockquote>
      {{ }); }}
    </div>
    <hr>
    {{ }); }}
  </fieldset>


  <fieldset>
    <legend>Partage</legend>
    {{ _.each(shares, function(share){  }}
    <div class="large-4 medium-4 small-4 columns left" >
      <b>{{- share.title}}</b>
    </div>
    <div class="large-8 medium-8 small-8 columns right">
      {{ _.each(share.outputs, function(share_output){  }}
      <blockquote>{{- share_output.title}}</blockquote>
    {{ }); }}
    </div>
      <hr>
    {{ }); }}
  </fieldset>


  <fieldset>
    <legend>Brainstorming</legend>
    {{ _.each(brainstormings, function(brainstorming){  }}
    <div class="large-4 medium-4 small-4 columns left" >
      <b>{{- brainstorming.title}}</b>
    </div>
    <div class="large-8 medium-8 small-8 columns right" >
      {{ _.each(brainstorming.outputs, function(brainstorming_output){  }}
      <blockquote>{{- brainstorming_output.title}}</blockquote>
      {{ }); }}
    </div>
    <hr>
    {{ }); }}
  </fieldset>


  <fieldset>
    <legend>Convergences</legend>
  {{ _.each(converges, function(converge){  }}
  <div class="large-4 medium-4 small-4 columns left" >
    <b>{{- converge.title}}</b>
  </div>

  <div class="large-8 medium-8 small-8 columns right" >
    {{ _.each(converge.outputs, function(converge_output){  }}
    <blockquote>{{- converge_output.title}}</blockquote>
    {{ }); }}
  </div>
    <hr>
  {{ }); }}
  </fieldset>

</fieldset>
