	<div class="row">
  	  	<fieldset>
		    <legend>Create workspace</legend>
		    <div class="alertBox large-12 columns">
		    </div>
		    <div class="large-12 columns">
		    	<label>Title
		        <input type="text" id="wks_title" placeholder="title..." />
		    	</label>
		    </div>
		    <div class="large-12 columns">
			    <label>Description
			    <textarea id="wks_description" placeholder="objectives, context..."></textarea>
				</label>
		    </div>
		    <div class="large-12 columns">
		        <label>Visibility
		        <select id="wks_visibility">
			      <option value="private">Private</option>
			      <option value="public">Public</option>
			    </select>
				</label>
		    </div>
		    <div class="large-12 columns">
		        <label>Organisation
		        <select id="wks_organisation">
			      <option value="none">(none)</option>
			    </select>
				</label>
		    </div>
		    <div class="large-12 columns">
		    	<a href="#" class="button success expand newWorkspace">Create</a>
		    </div>
		</fieldset>
	</div>