<div class="large-12 columns panel"><h1>{{- project.title }}</h1></div>

<ul class="tabs" data-tab>
  <li class="tab-title active"><a href="#dkcp_phases">Phases</a></li>
  <li class="tab-title"><a href="#dkcp_analyses">Analyses</a></li>
  <li class="tab-title"><a href="#dkcp_axes_travail">Axes de travail</a></li>
</ul>
<div class="tabs-content">
	
	<div class="content active" id="dkcp_phases">
		<div id="phases_container" class="large-12 columns">
		<!-- <div class="large-12 columns panel">
		    <ul class="small-block-grid-8">
		        {{ _.each(phases, function(phase){ }}
		        <li><div class="arrow_box"><a href="#{{- phase.id }}" class="arrow_box_text">{{- phase.title }}</a></div></li>
		        {{ }) }}
		    </ul>

		</div> -->
		</div>
	</div>

	<div class="content" id="dkcp_analyses">
		<div id="ck_evaluation_container" class="large-12 columns"></div>
	</div>


	<div class="content" id="dkcp_axes_travail">
		<div id="ck_axes_travail_generation" class="large-12 columns"></div>
	</div>

</div>

