<br>
<hr>
  <div class="large-2 medium-2 small-12 columns"><img src="{{- contribution.user.avatar}}"/></div>
  <div class="large-9 medium-9 small-11 columns">
      <p>{{- contribution.content }}</p>
      <div class="right">
        <small><em>Posté le {{- contribution.createdAt}} par {{- contribution.user.username}}</em></small>
      </div>
  </div>

    <div class="row collapse">
      <div class="large-2 medium-2 small-2 columns"></div>
      <div class="large-8 medium-8 small-8 columns">
        <input id="{{- contribution.id}}" type="text" placeholder="...">
      </div>
      <div class="large-2 medium-2 small-2 columns">
        <a href="#" data-id-contribution="{{- contribution.id }}" class="button postfix addSon">Rep!</a>
      </div>
    </div>


{{ _.each(sons, function(son){ }}

  <div>
      <div class = "row">
        <div class="large-2 medium-2 small-2 columns "></div>
        <div class="large-10 medium-10 small-10 columns right">
          <div class="large-2 medium-2 small-12 columns"><img src="{{- son.user.avatar}}"/></div>
          <div class="large-9 medium-9 small-11 columns"><p>{{- son.content }}</p>
            <div class="right">
              <small><em>Posté le {{- son.createdAt}} par {{- son.user.username}}</em></small>
            </div>
          </div>
        </div>
      </div>
  </div>
<br>

{{ }) }}

