<fieldset>
  <legend>Répondez au questionnaire</legend>


{{ for ( var i = 0 ; i < question.length; i++){  }} 
    <p>{{= question[i] }} </p>
    <div class="row">
  <div class="large-12 columns">
    <div class="row collapse">
      <div class="small-10 columns">
        <input id="contributionTextField" type="text" placeholder="...">
      </div>
      <div class="small-2 columns">
        <a class="button postfix addContribution">+</a>
      </div>
    </div>
  </div>
</div>
{{ } }}

</fieldset>