<fieldset>
  <legend>Posez vos questions à l'animateur</legend>


      <div class="row collapse">
        <div class="large-10 medium-10 small-10 columns">
          <textarea id="contributionTextField" type="text" placeholder="..."></textarea>
        </div>
        <div class="large-2 medium-2 small-2 columns">
          <a href="#" class="button addContribution">Post!</a>
        </div>
      </div>
  <div class="large-1 medium-1 small-1 columns"><a href="#" class="button tiny alert delContribution">-</a></div>
  <br><br>


  {{ _.each(contributions, function(contribution){ }}

    <div class="large-2 medium-2 small-12 columns"><img src="{{- contribution.user.avatar}}"/></div>
    <div class="large-9 medium-9 small-11 columns">
      <p>{{- contribution.content }}</p>
      <div class="right">
        <small><em>Posté le {{- contribution.createdAt}} par {{- contribution.user.username}}</em></small>
      </div>
    </div>
    <div class="large-1 medium-1 small-1 columns"><a href="#" class="button tiny alert delContribution">-</a></div>
    <br><br>

      {{ _.each(contributions, function(secondContribution){ }}

        {{ if(contribution.tag == secondContribution.id){ }}
        <div>
          <blockquote>
            <div class = "row">
              <div class="large-1 medium-1 small-1 columns "></div>
              <div class="large-11 medium-11 small-11 columns right">
                <div class="large-2 medium-2 small-12 columns"><img src="{{- secondContribution.user.avatar}}"/></div>
                <div class="large-8 medium-8 small-12 columns"><p>{{- secondContribution).content }}</p>      <div class="right">
                  <small><em>Posté le {{- secondContribution).createdAt}} par {{- secondContribution).user.username}}</em></small>
                </div></div>
                <div class="large-2 medium-2 small-12 columns"><a href="#" class="button alert tiny right delSecondContribution">-</a></div>
              </div>
            </div>
          </blockquote>
        </div>
        {{ } }}

      {{ }) }}

  {{ }) }}

</fieldset>
