<div class="fullWidth topbar bg_blue">
  <div class="large-12 medium-12 small-12">
    <div class="large-3 medium-3 small-3 columns">
      <a href="#" style="padding:0px;padding-right:10px" class="fullWhite button tiny radius" data-reveal-id="workspaces_dropdown">
        <img src="/images/icones/Bullets-32.png"/>
      </a>
      <div id="workspaces_dropdown" class="modalContainer reveal-modal" data-reveal style="background-color:#efefef;"></div>
    </div>


    <div class="large-6 medium-4 small-3 columns">
      <center><a href="/" title="home"><img width="24" style="vertical-align:middle;" title="logo creaktive" src="/images/logo.png"/> <b style="vertical-align:middle;color:white">CreaKtive</b></a></center>
    </div>

    <div class="large-3 medium-5 small-6 columns">
      <span style="float:right">
        <button style="padding:0px;padding-right:50px" href="#" data-dropdown="profil_dropdown" aria-controls="profil_dropdown" aria-expanded="false" class="fullWhite button dropdown tiny">
          <img width="24" src="{{-user.avatar }}"/>
          <b>{{-user.username }}</b>
        </button>
        <ul id="profil_dropdown" data-dropdown-content class="f-dropdown" aria-hidden="true" tabindex="-1">
          <li><a href="/editprofile">Profile</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </span>
    </div>
    </div>