
<a class="close-reveal-modal" aria-label="Close"> &#215;</a>

<div aria-hidden="true">
  <form data-abide="">
    <fieldset>
      <legend>Add members</legend>
      <div class="row">
          <input id="research_value" type="text" class="search_members" placeholder="name or email...">
          <p id="user_manager_search_info">{{-info}}</p>
          <table style="width:100%" id="user_manager_search_result"></table>
        </div>
      <div>
        Ou ajoutez-les via fichier CSV:
        <form action="/file/upload" enctype="multipart/form-data" method="post" data-abide>
          <label>
            <input type="file" id="attachment" name="attachment" />
          </label>
          <div class="large-12 columns">
            <a class="button tiny radius convertCSV">Ajouter via CSV</a>
          </div>
        </form>
      </div>

    </fieldset>

    <fieldset>
      <legend>Delete members</legend>
      <div class="row">

        <table>
          {{ _.each(organization.users, function(user){  }}
          <tr>
            <td><img width='30' title='{{-  user.username}}' src='{{-  user.avatar}}' ></td>
            <td>{{-  user.username}}</td>
            <td><a data-id-user='{{-  user.id}}' href='#' class='button tiny radius alert delFromGroup' style='margin:0px'><b data-id-user='{{-  user.id}}'>Delete</b></a></td>
          </tr>
          {{ }) }}

        </table>

      </div>
    </fieldset>



  </form>
</div>
